<div class="cart">
    <div class="cart__wrapper">
        <h2>Корзина</h2>
        <button class="cart__clear-button" onclick="project.cartModule.clearCart()">Очистить корзину</button>
    </div>
    <div class="cart__items"></div>
</div>