{% extends "layouts/layout.twig" %}

{% set products =
  [
   {
	img: 'img/men.webp',
    title: 'Основатель Темного Пути. Маньхуа. Том 8',
	description: 'Ужасные новости: Вэй Усянь не умер! Праведные заклинатели
            хватаются кто за сердце, кто за меч. Оказалось, негодяй скрывался за маской печально известного Мо
            Сюаньюя. Хотя чему тут удивляться? Что один шёл по кривой дорожке, что второй.',
	autor: 'Тунсю Мосян',
	price: '1200',
    id: 1,
   },
   {
	img: 'img/demons.webp',
    title: 'Истребитель демонов. Том 13. Перемены',
	description: 'Демоны молодой луны, Хантэнгу и Гёкко, нападают на скрытую деревню кузнецов! Тандзиро и Гэнъя принимают неравный бой с Хантэнгу, — демоном который каждый раз, когда его ранят, делится на части и становится сильнее. Тем временем туманный столп Токито не слишком торопится помогать другим. Но тут он замечает, как Котэцу отбивается от демона',
    autor: 'Готогэ Коёхару',
	price: '880',
    id: 2,
   },
   {
	img: 'img/gto.webp',
    title: 'GTO. Крутой учитель Онидзука. Книга 5',
	description: 'Несмотря на фирменный оптимизм Онидзуки, жизнь у него не сахар: то приходится выяснять отношения с завистливыми коллегами, то решать проблемы трудных подростков... А отдыхать-то когда? Может, хотя бы в поездке на Окинаву можно будет расслабиться? Нет, не тут-то было! В новой обстановке ученики класса 3-4 открывают в себе неожиданные стороны: кто-то – охотника за кладами, кто-то – садиста, кто-то – героя, а кто-то умудряется даже влюбиться! И угадайте, кому придётся разгребать последствия...',
    autor: 'Фудзисава Тору',
	price: '2200',
    id: 3,
   },
   {
	img: 'img/leveling.webp',
    title: 'Поднятие уровня в одиночку. Solo Leveling.',
	description: 'ПОВЫШЕНИЕ УРОВНЯ! Перед Сон Чину, слабейшим охотником Е-ранга, после событий в двойном подземелье открылись возможности загадочной Системы. Теперь ему ежедневно приходят сообщения и задания, а в награду за одно из них он получает ключ от уникального подземелья со странными монстрами, о которых он даже не слышал. Система даровала охотнику возможность прокачивать навыки и развивать особые способности. Постепенно парень осознаёт, что может достичь большего и забыть о прежних неудачах. Но как далеко ему придётся зайти в поисках силы?',
    autor: 'Чхугон',
	price: '1460',
    id: 4,
   },
   {
	img: 'img/magic.webp',
    title: 'Магическая битва. Книга 10. Колония Токио № 1. Колония Сэндай',
	description: '«Смертельная миграция» набирает обороты! Студенты магического колледжа быстро приходят к выводу, что нельзя терять ни минуты: если они хотят сорвать план Кэндзяку, им придется принять участие в его жестокой игре. Юдзи Итадори и Мэгуми Фусигуро отправляются в колонию Токио № 1, где надеются заручиться поддержкой Хигурумы, одного из сильнейших игроков. Но не успевают заклинатели оказаться на территории проведения игры, как на них нападают другие участники, жаждущие крови!',
    autor: 'Гэгэ Акутами',
	price: '979',
    id: 5,
   },
   {
	img: 'img/nanami.webp',
    title: 'Магическая битва. Книга 6. Инцидент в Сибуе: Открыть врата. Спиритизм',
	description: '31 октября 2018 года, Токио. Район Сибуя внезапно накрывает Завеса, не выпускающая местных жителей за свои пределы. Вокруг барьера собираются заклинатели магического колледжа — им приказано не вмешиваться и ждать дальнейших указаний. Тем временем за Завесу заходит Сатору Годзё, самый сильный из магов: проникнув на станцию метро, оказавшуюся в опасной зоне, он понимает, что проклятые духи взяли в заложники не одну сотню гражданских. Сатору вступает в схватку с врагами, еще не зная, что за боем внимательно наблюдает Сугуру Гэто — зловещий проклинатель, цель которого — запечатать Годзё во Вратах Заключения… В книгу вошли главы 89–106.',
    autor: 'Гэгэ Акутами',
	price: '906',
    id: 6,
   },
   {
	img: 'img/naruto.webp',
    title: 'Naruto. Наруто. Книга 15. Хранитель правды: Тома 43-45: манга',
	description: 'Саскэ наконец-то отыскал брата и теперь ни за что не отступит, пока не отомстит за весь клан Утиха. Правда, одолеть Итати будет совсем непросто, ведь кроме одного из мощнейших додзюцу, мангёко-сярингана, в арсенале его техник еще и «Аматерацу» — вечное пламя, которое невозможно погасить… Тем временем Наруто и другие ниндзя из отряда, сформированного для поисков Саскэ, сталкиваются с загадочным участником «Рассвета», чье лицо скрыто под маской. Какими бы приемами синоби Листвы не атаковали противника, ранить его не выходит. Но что самое странное – враг обладает сяринганом! Техникой клана Утиха, давным-давно уничтоженного Итати',
    autor: 'Кисимото Масаси',
	price: '1599',
    id: 7,
   },
   {
	img: 'img/onepice.webp',
    title: 'One Piece. Большой куш. 18. Конфликт неизбежен: Книги 52-54: манга',
	description: 'Архипелаг Сабанди превращается в зону боевых действий! Защищая своих друзей Кейми и Хати, Луффи нарушает строжайший закон: он поднимает руку на представителя Мировой Знати. Такой поступок не может остаться безнаказанным, поэтому в мгновение ока на архипелаг прибывает Желтая Обезьяна, адмирал флота, наделенный убийственными сверхсилами. И в своей погоне за преступниками он не остановится ни перед чем. Однако появление грозного соперника – лишь первая из неприятностей, которые в скором времени ожидают Луффи и его команду.',
    autor: 'Ода Эйитиро',
	price: '1329',
    id: 8,
   },
  ]
 %}

{% block page %}


	<div class="container">
        {% include 'blocks/cart/cart.twig' %}
		{% include 'blocks/cards-grid/cards-grid.twig' with { products: products } %}
	</div>


	<div style="display: none;" class="_product-detailed-modal">
		{% include 'blocks/product-detailed-modal/product-detailed-modal.twig' %}
	</div>


{% endblock %}
